* {
    margin: 0;
    padding: 0;
    font-family: Rowdies, sans-serif;
    color: whitesmoke;
}

html,
body {
    min-height: 100%;
}

html {
    width: 100%;
}

body {
    width: 100%;
    background: linear-gradient(315deg, #682a72 0%, #6100fd 74%);
    /* height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
}

#pageBorder {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    border: 10px solid whitesmoke;
    position: fixed;
    overflow: auto;
}

/* body+body {
    border: 10px solid whitesmoke
} */

#mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    background: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    margin-top: 5vh;
    border-radius: 2.5vw;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    }
    
    .industryContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 20vw;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    margin-top: 2vh;
        margin-bottom: 2vh;
        background-color: #D21F3C;
        border-radius: 1vw;
    }
                                
                .building {
                    width: 80%;
                    height: fit-content;
                    padding: 1vw;
                    border: 1px solid white;
                    border-radius: 1vw;
                }
    .profitCounter {
        width: fit-content;
        margin-top: 1vh;
        margin-bottom: 1vh;
}

.lockedIndustry {
    opacity: 0.5;
}

.excludeGreyOut {
    opacity: 1 !important;
}


.buyButton {
    background-color: maroon;
}

.buyButton:hover {
    background-color: rgb(77, 1, 1);
}

.buyButton::after {
    background-color: rgb(45, 0, 0);
}

.title {
    font-size: 2.5vw;
        color: whitesmoke;
}
